.page {
    width: 100%;
    height: 100%;
    display: flex;
}



.flex-row-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-input {
    min-width: 400px;
}

.auth-button {
    min-width: 250px;
}